---
// Supports weights 100-900
import "@fontsource-variable/lexend";
import "../styles/globalStyles.astro";
import Nav from "../components/Nav.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

const defaultDescription =
  description ??
  "An AI-powered social toolkit connecting people, places and experiences. Promoting more serendipitous in person encounters. Recommending the right places and experiences to match the moment. Restoring the soul of the city";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={defaultDescription} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://4rlapp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="4RL | The Community Toolkit" />
    <meta property="og:description" content={defaultDescription} />
    <meta property="og:image" content="/OG.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="4rlapp.com" />
    <meta property="twitter:url" content="https://4rlapp.com" />
    <meta name="twitter:title" content="4RL | The Community Toolkit" />
    <meta name="twitter:description" content={defaultDescription} />
    <meta name="twitter:image" content="/OG.png" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body class="flex flex-col h-[100svh] w-screen px-4 font-sans noise">
    <header class="py-6 w-full relative">
      <Nav />
    </header>
    <div class="flex-col w-full flex flex-1">
      <slot />
    </div>
  </body>
</html>
